.create-order {
  width: 100%;
  max-width: 1440px; /* adjust this value according to your design */
  margin: 0 auto;
  background-color: #f9f9f9;
  height: 100%;
  /* min-height: 100vh; */
}

.create-order .header {
  width: 100%;
  background-color: #ffffff;
  padding: 1.5rem 5rem;
}

.create-order .header h2 {
  font-family: 500;
}

.create-order .main {
  width: 100%;
  padding: 2rem 5rem;
  /* height: 100%; */
  background-color: #f9f9f9;
}

.main .sections {
  display: flex;
  justify-content: center;
  gap: 14rem;
  margin-top: 3rem;
  height: 100%;
  width: 100%;
}

.sections .area-a {
  margin: 2rem 0;
  height: 100%;
  width: 50%;
}

.pickup_details {
  width: 550px;
  height: 44px;
  height: 100%;
}

.form_control {
  display: block;
  width: 100%;
}

label {
  margin: 0.5rem;
  font-size: 14px;
  display: block;
}

.form-group {
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
}

.form_control_1 {
  width: 80%;
}


.tel_list {
  width: 20%;
  border-radius: 0 !important;
}

.warning_alert {
  width: 90%;
  margin-top: 1rem;
}
.sections .side-b {
  height: 100%;
  width: 50%;
  display: flex;
}

.total_container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
}

.total_container .counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #cfcbc3;
  border-radius: 5px;
  height: 60px;
  min-width: 200px;
  overflow: hidden;
}

.counter button {
  color: #000;
  height: 100%;
  text-align: center;
  font-size: 24px;
}

.proceed_btn {
  color: #000 !important;
  margin-top: 1rem !important;
  height: 48px;
  background-color: #ffc24d !important;
}

.addressList {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
.addressList .list {
  padding: .5rem;
}

.addressList .list:hover {
  background-color: rgba(0, 0, 0, 0.11);
  transition: ease-in-out;
  cursor: pointer;
}

@media (max-width: 720px) and (min-width: 294px) {
  .create-order {
    width: 100%;
    /* max-width: 720px; adjust this value according to your design */
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
  }
  .create-order .main {
    width: 100%;
    padding: 2rem 1rem;
    /* height: 100%; */
    background-color: #f9f9f9;
  }
  
  .main .sections {
    flex-direction: column;
    gap: 1rem;
    width: 100%
  }
  .sections .area-a {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .pickup_details {
    width: 100%;
    height: 44px;
    height: 100%;
  }
  form  {
    width: 100%;
  }
  label {
    margin: 0.5rem;
    font-size: 18px;
    display: block;
  }

  .tel_list {
    width: 25%;
    font-size: 12px;
    border-radius: 0 !important;
  }

  .form_control_1 {
    width: 75%;
  }

  .sections .side-b {
    height: 100%;
    width: 100%;
  }

  .warning_alert {
    width: 100%;
    margin-top: 1rem;
  }

  .total_container, .proceed_btn {
    width: 100% !important;
  }
}

@media (max-width: 1279px) and (min-width: 721px) {
  .main .sections {
    flex-direction: column;
    gap: 1rem;
  }
  .sections .side-b {
    height: 100%;
    width: 550px;
  }

  .warning_alert {
    width: 550px;
    margin-top: 1rem;
  }

  .total_container, .proceed_btn {
    width: 550px !important;
  }
}
