@font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  src: local("Plus Jakarta Sans"), url("../../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

.navbar {
  width: 100%;
  padding: 1rem 3rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title .hamburger {
  display: none;
}
.navbar h1 {
  font-weight: 700;
}
.navbar_menu {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.navbar_menu img {
  background-color: #f8f8f8;
  padding: 0.4rem;
  border-radius: 5px;
}
.dots {
  position: relative;;
}
@media (max-width: 720px) and (min-width: 294px) {
  .navbar {
    width: 100%;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
  }
  .title .hamburger {
    display: block;
  }

  .navbar h1 {
    font-weight: 700;
    font-size: 22px;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .navbar_menu {
    align-items: center;
    gap: 1rem;
    padding: 0 10px;
  }
  .navbar_menu img {
    background-color: #f8f8f8;
    padding: 0.4rem;
    border-radius: 5px;
  }
}

