.notfound {
    display: flex;
    width: 100%;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.construction {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.construction .image, .notfound .image {
    width: 390px;
    display: block;
}

.image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 720px) and (min-width: 294px) {
    .construction .image, .notfound .image {
        width: 250px;
        display: block;
    }
  }