@font-face {
  font-family: 'Plus Jakarta Sans', sans-serif;
  src: local('Plus Jakarta Sans'),
    url('../../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf')
      format('truetype');
}

.table {
  height: 100%;
  background-color: #ffffff;
  padding: 1rem;
  width: 97%;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-x: auto;
}
.table .table_search {
  width: 460px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgba(84, 95, 125, 0.15);
  outline: none;
  padding: 2px 30px;
  font-size: 14px;
}
.table .table_search::placeholder {
  font-weight: 500;
}
.table .table_searchbox {
  position: relative;
}

.table .table_searchbox img {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 12px;
  left: 10px;
  width: 16px;
}
.table .table_searchbox button {
  margin-left: 20px;
  white-space: nowrap;
}
@media (max-width: 720px) and (min-width: 294px) {
  .table {
    width: 97%;
    overflow-x: auto;
  }
  .table_search {
    width: 100%;
  }
  .table .table_search {
    width: 300px;
  }
}
.table table {
  border: none;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
  table-layout: fixed;
  width: 100%;
  font-size: 14px;
  color: #1d1f22;
}
@media (max-width: 720px) and (min-width: 294px) {
  .table table {
    table-layout: auto;
  }
}
.table thead tr {
  width: 100%;
}
.table thead tr th { text-align: center;}
.table tbody tr {
  border-bottom: 1px solid rgba(84, 95, 125, 0.15);
}
.table tbody tr td {
  text-align: center;
  padding: 1rem 0.3rem;
  min-width: 150px;
  text-transform: capitalize;
  text-overflow: clip;
  white-space: nowrap;
}
.table tbody .status-pending {
  color: #1d1f22;
}
.table tbody .status-active {
  color: #13456e;
}
.table tbody .status-canceled {
  color: #da1515;
}
.table tbody .status-completed {
  color: #338656;
}
.table tbody button {
  padding: 3px;
  width: 90px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 3px;
}
.table tbody .btn-pending {
  background-color: #ffcd4d;
  color: #000;
}
.table tbody .btn-paid {
  background-color: #4ea977;
  color: #ffffff;
}
.table tbody .btn-failed {
  background-color: #df3539;
  color: #ffffff;
}
.table .header {
  text-transform: capitalize;
  padding: 1.5rem 0.5rem;
}
.table tbody td select {
  padding: 0.3rem;
  width: 100px;
  border-radius: 5px;
  background-color: #fff; 
  color: #333; 
  margin-right: 10px;
  border: 1px solid rgba(84, 95, 125, 0.15);
  outline: none;
}
.table tbody td select option {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  width: 200px !important;
}

.table .table_searchbox {
  display: flex;
  justify-content: space-between;
}

.table .table_searchbox button {
  background-color: #ffcd4d;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}
